<a href="https://colab.research.google.com/github/niladribanerjee80/DSA_Scott_Barett/blob/main/Section_3_Classes_and_Pointers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classes

In [1]:
class Cookie:

    def __init__(self,color):
        self.color = color

    def get_color(self):
        return self.color

    def set_color(self,color):
        self.color = color

In [3]:
cookie_one = Cookie('green')
cookie_two = Cookie('blue')

print("Cookie one is : ",cookie_one.get_color())
print("Cookie two is : ",cookie_two.get_color())

cookie_one.set_color("yellow")

print("Cookie one is now : ",cookie_one.get_color())
print("Cookie two is now : ",cookie_two.get_color())

Cookie one is :  green
Cookie two is :  blue
Cookie one is now :  yellow
Cookie two is now :  blue

In [4]:
# so what are we going to do with classes
# Remember
    # Linked List = each element (data + addr to next node)

class LinkedList:

    def __init__(self,value):
        pass

    def append(self,value):
        pass

    def pop(self):
        pass

    def prepend(self,value):
        pass

    def insert(self,index,value):
        pass

    def remove(self,index):
        pass

# Pointers

In [8]:
num1 = 11
num2 = num1

print("num1 = ",num1)
print("num2 = ",num2)
print('\n')
print("address of (num1) = ",id(num1))
print("address of (num2) = ",id(num2))

num1 =  11
num2 =  11


address of (num1) =  139575227400752
address of (num2) =  139575227400752

In [10]:
num1 = 11
num2 = num1

print("num1 = ",num1)
print("num2 = ",num2)
print('\n')
print("address of (num1) = ",id(num1))
print("address of (num2) = ",id(num2))

num2 = 22
print('\n')
print("--- After num2 = 22 --- ")
print('\n')
print("num1 = ",num1)
print("num2 = ",num2)
print('\n')
print("address of (num1) = ",id(num1))
print("address of (num2) = ",id(num2))

num1 =  11
num2 =  11


address of (num1) =  139575227400752
address of (num2) =  139575227400752


--- After num2 = 22 ---


num1 =  11
num2 =  22


address of (num1) =  139575227400752
address of (num2) =  139575227401104

* Integers are immutable
* once you create an integer num1 = 11, it cannot be altered
* num2 = num1 means the location is getting another label
* num2 = 22 => a new value and location got added

In [12]:
# use case of dict

dict1 ={
    "value" : 11
}

dict2 = dict1

print("Before the value is updated")
print("\n")
print("dict1 = ",dict1)
print("dict2 = ",dict2)

print("\n")

print("address of dict1 = ",id(dict1))
print("address of dict2 = ",id(dict2))
print('\n')

dict2['value'] = 22
print("After the value is updated")
print("\n")
print("dict1 = ",dict1)
print("dict2 = ",dict2)

print("\n")

print("address of dict1 = ",id(dict1))
print("address of dict2 = ",id(dict2))
print('\n')

Before the value is updated


dict1 =  {'value': 11}
dict2 =  {'value': 11}


address of dict1 =  139574310237440
address of dict2 =  139574310237440


After the value is updated


dict1 =  {'value': 22}
dict2 =  {'value': 22}


address of dict1 =  139574310237440
address of dict2 =  139574310237440