<a href="https://colab.research.google.com/github/niladribanerjee80/DSA_Scott_Barett/blob/main/Topic_5_Hash_Tables_assignments_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Item In Common

---

Write a function item_in_common(list1, list2) that takes two lists as input and returns True if there is at least one common item between the two lists, False otherwise.

Use a dictionary to solve the problem that creates an O(n) time complexity.

In [1]:
def item_in_common(list1, list2):
    # convert list1 into dict
    my_dict = dict()

    for item in list1:
        my_dict[item] = True

    for item in list2:
        if item in my_dict:
            return True

    return False

In [2]:
list1 = [1,3,5]
list2 = [2,4,5]

print(item_in_common(list1, list2))

# """
#     EXPECTED OUTPUT:
#     ----------------
#     True

# """

True

# Find Duplicates


---
find_duplicates()


Problem: Given an array of integers nums, find all the duplicates in the array using a hash table (dictionary).


Input:

A list of integers nums.


Output:

A list of integers representing the numbers in the input array nums that appear more than once. If no duplicates are found in the input array, return an empty list [].

Input: nums = [4, 3, 2, 7, 8, 2, 3, 1]
Output: [2, 3]
Explanation: The numbers 2 and 3 appear more than once in the input array.

Input: nums = [1, 2, 3, 4, 5]
Output: []
Explanation: There are no duplicates in the input array, so the function returns an empty list [].

Input: nums = [3, 3, 3, 3, 3]
Output: [3]
Explanation: The number 3 appears more than once in the input array.

Input: nums = [-1, 0, 1, 0, -1, -1, 2, 2]
Output: [-1, 0, 2]
Explanation: The numbers -1, 0, and 2 appear more than once in the input array.

Input: nums = []
Output: []
Explanation: There are no numbers in the input array, so the function returns an empty list [].

In [3]:
# Option 1
from collections import Counter
def find_duplicates(array):
    output = []

    c = Counter(array)

    for key,value in c.items():
        if value > 1:
            output.append(key)

    return output

In [19]:
# Option 2 - this is what we need to do
def find_duplicates(nums):
    num_counts = {}

    for num in nums:
        num_counts[num] = num_counts.get(num, 0) + 1

    duplicates = []
    for num, count in num_counts.items():
        if count > 1:
            duplicates.append(num)

    return duplicates

In [20]:
print ( find_duplicates([1, 2, 3, 4, 5]) )
print ( find_duplicates([1, 1, 2, 2, 3]) )
print ( find_duplicates([1, 1, 1, 1, 1]) )
print ( find_duplicates([1, 2, 3, 3, 3, 4, 4, 5]) )
print ( find_duplicates([1, 1, 2, 2, 2, 3, 3, 3, 3]) )
print ( find_duplicates([1, 1, 1, 2, 2, 2, 3, 3, 3, 3]) )
print ( find_duplicates([]) )

# """
#     EXPECTED OUTPUT:
#     ----------------
#     []
#     [1, 2]
#     [1]
#     [3, 4]
#     [1, 2, 3]
#     [1, 2, 3]
#     []

# """

[]
[1, 2]
[1]
[3, 4]
[1, 2, 3]
[1, 2, 3]
[]

In [12]:
d = {
    1 : 1
}

In [14]:
d[1] = d.get(1,0) + 1

0

# First Non-Repeating Character


---

You have been given a string of lowercase letters.

Write a function called first_non_repeating_char(string) that finds the first non-repeating character in the given string using a hash table (dictionary). If there is no non-repeating character in the string, the function should return None.

For example, if the input string is "leetcode", the function should return "l" because "l" is the first character that appears only once in the string. Similarly, if the input string is "hello", the function should return "h" because "h" is the first non-repeating character in the string.

In [ ]:
# WRITE THE FUNCTION HERE #
#                         #
#                         #
#                         #
#                         #
###########################

In [ ]:
print( first_non_repeating_char('leetcode') )

print( first_non_repeating_char('hello') )

print( first_non_repeating_char('aabbcc') )



# """
#     EXPECTED OUTPUT:
#     ----------------
#     l
#     h
#     None

# """

# Group Anagrams


---

You have been given an array of strings, where each string may contain only lowercase English letters. You need to write a function group_anagrams(strings) that groups the anagrams in the array together using a hash table (dictionary). The function should return a list of lists, where each inner list contains a group of anagrams.

For example, if the input array is ["eat", "tea", "tan", "ate", "nat", "bat"], the function should return [["eat","tea","ate"],["tan","nat"],["bat"]] because the first three strings are anagrams of each other, the next two strings are anagrams of each other, and the last string has no anagrams in the input array.

You need to implement the group_anagrams(strings) function and return a list of lists, where each inner list contains a group of anagrams according to the above requirements.

In [ ]:
# WRITE GROUP_ANAGRAMS FUNCTION HERE #
#                                    #
#                                    #
#                                    #
#                                    #
######################################

In [ ]:
print("1st set:")
print( group_anagrams(["eat", "tea", "tan", "ate", "nat", "bat"]) )

print("\n2nd set:")
print( group_anagrams(["abc", "cba", "bac", "foo", "bar"]) )

print("\n3rd set:")
print( group_anagrams(["listen", "silent", "triangle", "integral", "garden", "ranged"]) )



# """
#     EXPECTED OUTPUT:
#     ----------------
#     1st set:
#     [['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

#     2nd set:
#     [['abc', 'cba', 'bac'], ['foo'], ['bar']]

#     3rd set:
#     [['listen', 'silent'], ['triangle', 'integral'], ['garden', 'ranged']]

# """

# Two Sum


---

two_sum()

Problem:
Given an array of integers nums and a target integer target, find the indices of two numbers in the array that add up to the target.

The main challenge here is to implement this function in one pass through the array. This means you should not iterate over the array more than once. Therefore, your solution should have a time complexity of O(n), where n is the number of elements in nums.



Input:

A list of integers nums .

A target integer target.



Output:

A list of two integers representing the indices of the two numbers in the input array nums that add up to the target. If no two numbers in the input array add up to the target, return an empty list [].



Example:



Input: nums = [5, 1, 7, 2, 9, 3], target = 10
Output: [1, 4]
Explanation: The numbers at indices 1 and 4 in the array add up to the target 10.

Input: nums = [3, 2, 4], target = 6
Output: [1, 2]
Explanation: The numbers at indices 1 and 2 in the array add up to the target 6.

Input: nums = [3, 3], target = 6
Output: [0, 1]
Explanation: The numbers at indices 0 and 1 in the array add up to the target 6.

Input: nums = [2, 1, 2, 7, 11, 15], target = 9
Output: [2, 3]
Explanation: Notice there are two 2s in the array.  The second one will be used.

Input: nums = [1, 2, 3, 4, 5], target = 10
Output: []
Explanation: There are no two numbers in the array add up to the target 10.

Input: nums = [], target = 0
Output: []
Explanation: There are no numbers in the input array, so the function returns an empty list [].

In [ ]:
# WRITE TWO_SUM FUNCTION HERE #
#                             #
#                             #
#                             #
#                             #
###############################

In [ ]:
print(two_sum([5, 1, 7, 2, 9, 3], 10))
print(two_sum([4, 2, 11, 7, 6, 3], 9))
print(two_sum([10, 15, 5, 2, 8, 1, 7], 12))
print(two_sum([1, 3, 5, 7, 9], 10))
print ( two_sum([1, 2, 3, 4, 5], 10) )
print ( two_sum([1, 2, 3, 4, 5], 7) )
print ( two_sum([1, 2, 3, 4, 5], 3) )
print ( two_sum([], 0) )



# """
#     EXPECTED OUTPUT:
#     ----------------
#     [1, 4]
#     [1, 3]
#     [0, 3]
#     [1, 3]
#     []
#     [2, 3]
#     [0, 1]
#     []

# """

# Subarray Sum


---
Given an array of integers nums and a target integer target, write a Python function called subarray_sum that finds the indices of a contiguous subarray in nums that add up to the target sum using a hash table (dictionary).

Your function should take two arguments:

nums: a list of integers representing the input array

target: an integer representing the target sum


Your function should return a list of two integers representing the starting and ending indices of the subarray that adds up to the target sum. If there is no such subarray, your function should return an empty list.

For example:



nums = [1, 2, 3, 4, 5]
target = 9
print(subarray_sum(nums, target))  # should print [1, 3]


Note that there may be multiple subarrays that add up to the target sum, but your function only needs to return the indices of any one such subarray. Also, the input list may contain both positive and negative integers.

In [ ]:
# WRITE SUBARRAY_SUM FUNCTION HERE #
#                                  #
#                                  #
#                                  #
#                                  #
####################################

In [ ]:
nums = [1, 2, 3, 4, 5]
target = 9
print ( subarray_sum(nums, target) )

nums = [-1, 2, 3, -4, 5]
target = 0
print ( subarray_sum(nums, target) )

nums = [2, 3, 4, 5, 6]
target = 3
print ( subarray_sum(nums, target) )

nums = []
target = 0
print ( subarray_sum(nums, target) )



# """
#     EXPECTED OUTPUT:
#     ----------------
#     [1, 3]
#     [0, 3]
#     [1, 1]
#     []

# """

# Set: Remove Duplicates


---

You have been given a list my_list with some duplicate values. Your task is to write a Python program that removes all the duplicates from the list using a set and then prints the updated list.

You need to implement a function remove_duplicates(my_list) that takes in the input list my_list as a parameter and returns a new list with no duplicates.

Your function should not modify the original list, instead, it should create a new list with unique values and return it.

Example:



Input:
my_list = [1, 2, 3, 4, 1, 2, 5, 6, 7, 3, 4, 8, 9, 5]

Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]


Note:

The order of the elements in the updated list may be different from the original list, as sets are unordered.

In [ ]:
# WRITE REMOVE_DUPLICATES FUNCTION HERE #
#                                       #
#                                       #
#                                       #
#                                       #
#########################################

In [ ]:
my_list = [1, 2, 3, 4, 1, 2, 5, 6, 7, 3, 4, 8, 9, 5]
new_list = remove_duplicates(my_list)
print(new_list)

# """
#     EXPECTED OUTPUT:
#     ----------------
#     [1, 2, 3, 4, 5, 6, 7, 8, 9]

#     (Order may be different as sets are unordered)

# """

# Set: Has Unique Chars


---

Write a function called has_unique_chars that takes a string as input and returns True if all the characters in the string are unique, and False otherwise.

For example, has_unique_chars('abcdefg') should return True, while has_unique_chars('hello') should return False.

In [ ]:
# WRITE HAS_UNIQUE_CHARS FUNCTION HERE #
#                                      #
#                                      #
#                                      #
#                                      #
########################################

In [ ]:
print(has_unique_chars('abcdefg')) # should return True
print(has_unique_chars('hello')) # should return False
print(has_unique_chars('')) # should return True
print(has_unique_chars('0123456789')) # should return True
print(has_unique_chars('abacadaeaf')) # should return False

# """
#     EXPECTED OUTPUT:
#     ----------------
#     True
#     False
#     True
#     True
#     False

# """

# Set: Find Pairs


---

You are given two lists of integers, arr1 and arr2, and a target integer value, target. Your task is to find all pairs of numbers (one from arr1 and one from arr2) whose sum equals target.

Write a function called find_pairs that takes in three arguments: arr1, arr2, and target, and returns a list of all such pairs.  Assume that each array does not contain duplicate values.

The tests for this exercise assume that arr1 is the list being converted to a set.

Input

Your function should take in the following inputs:

arr1: a list of integers

arr2: a list of integers

target: an integer


Output

Your function should return a list of tuples, where each tuple contains two integers from arr1 and arr2 that add up to target.

<br>
<br>

Example 1:

arr1 = [1, 2, 3]
arr2 = [4, 5, 6]
target = 9

pairs = find_pairs(arr1, arr2, target)<br>
print (pairs)<br>
Expected output: [(3, 6)]<br>
Explanation: There's only one pair that adds up to 9: 3 from arr1 and 6 from arr2.<br><br>


Example 2:

arr1 = [0, 1, 2]
arr2 = [7, 8, 9]
target = 10

pairs = find_pairs(arr1, arr2, target)

print (pairs)<br>
Expected output: [(1, 9), (2, 8)]<br>
Explanation: The pairs that add up to 10 are (1, 9) and (2, 8).
<br>
<br>

Example 3:

arr1 = [1, 2, 3, 5]
arr2 = [1, 3, 4, 5]
target = 6

pairs = find_pairs(arr1, arr2, target)<br>
print(pairs)<br>
Expected output: [(5, 1), (3, 3), (2, 4), (1, 5)]<br>
Explanation: The pairs that add up to 6 are (5, 1), (3, 3),
(2, 4), and (1, 5). Each pair consists of one element from arr1
and one element from arr2 that together sum to the target value.<br>
<br>
<br>

Example 4:

arr1 = [1, 2, 3, 5]
arr2 = [1, 3, 4, 5]
target = 11

pairs = find_pairs(arr1, arr2, target)
print(pairs)
Expected output: []<br>
Explanation: There are no pairs in arr1 and arr2 that add up to 11.

In [ ]:
# WRITE FIND_PAIRS FUNCTION HERE #
#                                #
#                                #
#                                #
#                                #
##################################

In [ ]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [2, 4, 6, 8, 10]
target = 7

pairs = find_pairs(arr1, arr2, target)
print (pairs)



# """
#     EXPECTED OUTPUT:
#     ----------------
#     [(5, 2), (3, 4), (1, 6)]

# """

# Set: Longest Consecutive Sequence


---

Given an unsorted array of integers, write a function that finds the length of the  longest_consecutive_sequence (i.e., sequence of integers in which each element is one greater than the previous element).

Use sets to optimize the runtime of your solution.

Input: An unsorted array of integers, nums.

Output: An integer representing the length of the longest consecutive sequence in nums.

Example:



Input: nums = [100, 4, 200, 1, 3, 2]
Output: 4
Explanation: The longest consecutive sequence in the input array is [4, 3, 2, 1], and its length is 4.

In [ ]:
# WRITE LONGEST_CONSECUTIVE_SEQUENCE FUNCTION HERE #
#                                                  #
#                                                  #
#                                                  #
#                                                  #
####################################################

In [ ]:
print( longest_consecutive_sequence([100, 4, 200, 1, 3, 2]) )



# """
#     EXPECTED OUTPUT:
#     ----------------
#     4

# """